[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.11"

[packages]
flask = "*"
flask-restx = "*"
flask-jwt-extended = "*"
python-decouple = "*"
python-dotenv = "*"
flask-migrate = "*"
psycopg2 = "*"
flask-cors = "*"
